@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');




.design-one {
    background-color:hsl(31, 77%, 52%);
    width: 250px;
    height: 400px;
    color:white;
    display:inline-block;
    padding-top:40px;
    padding-left:40px;
    border-radius:5px;
}


.design-two {
    background-color:hsl(184, 100%, 22%);
    width:250px;
    height:380px;
    color:white;
    display:inline-block;
    padding-top:40px;
    padding-left:40px;
    padding-bottom:20px;
    

}

.design-three {
    background-color:hsl(179, 100%, 13%);
    width:250px;
    height:400px;
    color:white;
    display:inline-block;
    padding-top:40px;
    padding-left:40px;
    border-radius:5px;
    
}

.p {

    padding-right:20px;
    Font-size: 15px
    
    
    
}





.btn-one {
    background: #f7fcff;
    background-image: -webkit-linear-gradient(top, #f7fcff, white);
    background-image: -moz-linear-gradient(top, #f7fcff, white);
    background-image: -ms-linear-gradient(top, #f7fcff, white);
    background-image: -o-linear-gradient(top, #f7fcff, white);
    background-image: linear-gradient(to bottom, #f7fcff, white);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: hsl(31, 77%, 52%);
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin:60px auto 40px;
    margin-left:15px;
    
  }
  
  .btn-one:hover {
    background: #fcfeff;
    background-image: -webkit-linear-gradient(top, #fcfeff, #e9f0f5);
    background-image: -moz-linear-gradient(top, #fcfeff, #e9f0f5);
    background-image: -ms-linear-gradient(top, #fcfeff, #e9f0f5);
    background-image: -o-linear-gradient(top, #fcfeff, #e9f0f5);
    background-image: linear-gradient(to bottom, #fcfeff, #e9f0f5);
    text-decoration: none;
  }




  .btn-two {
    background: #f7fcff;
    background-image: -webkit-linear-gradient(top, #f7fcff, white);
    background-image: -moz-linear-gradient(top, #f7fcff, white);
    background-image: -ms-linear-gradient(top, #f7fcff, white);
    background-image: -o-linear-gradient(top, #f7fcff, white);
    background-image: linear-gradient(to bottom, #f7fcff, white);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color:  hsl(184, 100%, 22%);
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin:60px auto 40px;
    margin-left:15px;
    
  }
  
  .btn-two:hover {
    background: #fcfeff;
    background-image: -webkit-linear-gradient(top, #fcfeff, #e9f0f5);
    background-image: -moz-linear-gradient(top, #fcfeff, #e9f0f5);
    background-image: -ms-linear-gradient(top, #fcfeff, #e9f0f5);
    background-image: -o-linear-gradient(top, #fcfeff, #e9f0f5);
    background-image: linear-gradient(to bottom, #fcfeff, #e9f0f5);
    text-decoration: none;
  }



  .btn-three {
    background: #f7fcff;
    background-image: -webkit-linear-gradient(top, #f7fcff, white);
    background-image: -moz-linear-gradient(top, #f7fcff, white);
    background-image: -ms-linear-gradient(top, #f7fcff, white);
    background-image: -o-linear-gradient(top, #f7fcff, white);
    background-image: linear-gradient(to bottom, #f7fcff, white);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: hsl(179, 100%, 13%);
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin:60px auto 40px;
    margin-left:15px;
    
  }
  
  .btn-three:hover {
    background: #fcfeff;
    background-image: -webkit-linear-gradient(top, #fcfeff, #e9f0f5);
    background-image: -moz-linear-gradient(top, #fcfeff, #e9f0f5);
    background-image: -ms-linear-gradient(top, #fcfeff, #e9f0f5);
    background-image: -o-linear-gradient(top, #fcfeff, #e9f0f5);
    background-image: linear-gradient(to bottom, #fcfeff, #e9f0f5);
    text-decoration: none;
  }




  @media (max-width:1440px) {

    .design-one {

    width: 250px;
    height: 400px;

    }

    .design-two {
      width:250px;
      height:380px;
      
    }

    .design-three {
      width:250px;
      height:400px;
      
    }

  }


  @media (max-width:375px) {

    .design-one {
      width:100%;
    }

    .design-two {
      width:100%;
    }

    .design-three {
      width:100%;
    }


  }